<div class="flex-container">
    <div class="flex-hero-1 flex-container"> 
        <img src="<%= HeroesImgMap.get(Player.hero_id) %>" alt="Hero_img" class="hero-card-img"> 
        <p> <%= HeroesMap.get(Player.hero_id) %></p>
    </div>
    <div class="flex-hero-4">
        <p> <%= Player.personaname %></p>
    </div>
    <div class="flex-hero-1">
        <p> <%= Player.kills %></p>
    </div>
    <div class="flex-hero-1">
        <p> <%= Player.deaths %></p>
    </div>
    <div class="flex-hero-1">
        <p> <%= Player.assists %></p>
    </div>
    <div class="flex-hero-2">
        <p> <%= Player.net_worth %></p>
    </div>
</div>